.Header{
    position: relative;
    background-color: #343a40;
}

.Header-nav{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: .5rem 1rem;
}

.Header-brand{
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #FFF;
}

.Header-links{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.Header a{
    color: #FFF;
    padding: 0 10px;
    text-decoration: none;
}